.container-fill-primary {
  width: 100%;
  min-width: 6.5rem;
  height: 100%;
  min-height: 1.65rem;
  position: relative;
  border: 2px solid var(--PRIMARY);
  background-color: var(--PRIMARY);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #ffffff;
    color: var(--PRIMARY);
    cursor: pointer;
  }

  &:active {
    background-color: #ffffff;
    color: var(--PRIMARY);
  }
}

.container-fill-gray {
  width: 100%;
  min-width: 6.5rem;
  height: 100%;
  min-height: 1.65rem;
  position: relative;
  border: 2px solid var(--DARK-GRAY-3);
  background-color: var(--DARK-GRAY-3);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #ffffff;
    color: var(--DARK-GRAY-3);
    cursor: pointer;
  }

  &:active {
    background-color: #ffffff;
    color: var(--DARK-GRAY-3);
  }
}

.container-outline-primary {
  width: 100%;
  min-width: 6.5rem;
  height: 100%;
  min-height: 1.65rem;
  position: relative;
  border: 2px solid var(--PRIMARY);
  background-color: var(--LIGHT);
  color: var(--PRIMARY);
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover {
    background-color: var(--PRIMARY);
    color: var(--LIGHT);
    cursor: pointer;
  }

  &:active {
    background-color: #ffffff;
    color: var(--PRIMARY);
  }
}

.container-outline-gray {
  width: 100%;
  min-width: 6.5rem;
  height: 100%;
  min-height: 1.65rem;
  position: relative;
  border: 2px solid var(--DARK-GRAY-3);
  background-color: var(--LIGHT);
  color: ar(--DARK-GRAY-3);
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover {
    background-color: var(--DARK-GRAY-3);
    color: var(--LIGHT);
    cursor: pointer;
  }

  &:active {
    background-color: #ffffff;
    color: var(--DARK-GRAY-3);
  }
}

.radius-4 {
  border-radius: 4px;
}

.radius-8 {
  border-radius: 8px;
}

.radius-16 {
  border-radius: 16px;
}

.fontsize-12 {
  font-size: 12px;
}

.fontsize-14 {
  font-size: 14px;
}

.fontsize-16 {
  font-size: 16px;
}

.fontsize-20 {
  font-size: 20px;
}

.fontsize-24 {
  font-size: 24px;
}